@charset "UTF-8";

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/Lato-Bold.woff2');
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Lato-Semibold.woff2');
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Lato-Regular.woff2');
}
