@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/Lato-Bold.woff2");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Lato-Semibold.woff2");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/Lato-Regular.woff2");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/Lato-Bold.woff2");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Lato-Semibold.woff2");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/Lato-Regular.woff2");
}
* {
  background: transparent;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Lato";
}

div.vpd-help-text {
  background: white;
  width: 100%;
  height: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: flex-start;
}
div.vpd-help-text ul {
  width: 100%;
  height: 100%;
  list-style-type: none;
  column-width: 172px;
  column-rule: none;
  column-rule-width: thin;
  overflow-y: hidden;
}
div.vpd-help-text li {
  display: inline-block;
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  color: #a7a7a7;
  font-size: 0.8em;
  white-space: nowrap;
  text-overflow: ellipsis;
}
div.vpd-help-text li b {
  color: black;
}

div.vpd-drop {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}
div.vpd-drop img {
  grid-column: 1;
  grid-row: 1;
  width: 128px;
  visibility: hidden;
}
div.vpd-drop div.overlay {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  height: 100%;
  border-radius: 64px;
  z-index: 2;
}

div.vpd-drop.dropping {
  filter: contrast(170%) brightness(500%);
  background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.2) 60%, transparent 90%), url("/images/dropbg.svg");
}
div.vpd-drop.dropping img {
  visibility: visible;
}

button.vpd-macro-key {
  width: 48px;
  height: 48px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
}
