@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/Lato-Bold.woff2");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Lato-Semibold.woff2");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/Lato-Regular.woff2");
}
:root {
  --background: #222222;
}

* {
  background: transparent;
  border: none;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Lato";
}

html {
  height: 100%;
}

body {
  background: var(--background);
  background-image: url("../images/backgrounds/p6.webp");
  background-blend-mode: hard-light;
  height: 100%;
  width: 100%;
  border: none;
}

header {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
}
header #logo {
  height: 80px;
}

main {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  justify-content: center;
  column-gap: 64px;
}
main div.panel {
  width: fit-content;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
}
main #light {
  background: #c0c0c0;
}
main #dark {
  background: #a7a7a7;
}

footer {
  background: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 12px;
}
footer #command {
  width: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 12px;
  border: 1px solid #a7a7a7;
  border-radius: 4px;
}
