div.vpd-help-text {
  background: white;
  width: 100%;
  height: 100%;
  padding-left: 4px;
  padding-right: 4px;
  border: none;
  border-radius: 4px;

  display: flex;
  justify-content: flex-start;

  ul {
    width: min-content;
    height: 75px;
    column-width: auto;
    column-count: 10;
    column-rule: none;
    column-rule-width: thin;
    column-fill: auto;
    column-gap: 32px;
    overflow-y: hidden;
  }

  li {
    display: inline-block;
    width: min-content;
    padding-left: 8px;
    padding-right: 32px;
    color: $gray;
    font-size: 0.9em;
    white-space: nowrap;
    text-overflow: ellipsis;

    b {
      color: black;
    }
  }
}
