button.vpd-macro-key {
    display: flow;
    flow-direction: column;
    justify-content: center;
    align-items: center;

    width: 48px;    
    height: 48px;

    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    border: $button-border;
    border-radius: 4px;

    div.ctrl {
        font-size: 12px;
        font-variant-caps: all-small-caps;    
    }

    div.label {
        font-size: 14px;
        font-weight: bold;
    }
}
