@import '../base/_default';
@import '../base/_fonts';

:root {
  --background: #222222;
}

* { 
  background: transparent;
  border: none;
  margin: 0px; 
  padding: 0px; 
  box-sizing: border-box;
}

html { 
  height: 100%;
}

body { 
  background: var(--background);
  background-image: url("../images/backgrounds/p6.webp");
  background-blend-mode: hard-light;

  height: 100%;
  width: 100%;
  border: none;

  display: grid;
  grid-template-columns: auto 1fr 64px;
  grid-template-rows: auto auto 1fr;
}

header {
  grid-row: 1;
  grid-column: 1;

  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;

  #logo {
    height: 80px;
  }  
}

main {
  grid-row: 1 / 3;
  grid-column: 1 / 4;

  padding-top: 32px;
  padding-bottom: 32px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  column-gap: 16.5mm;

  div.panel {
    min-width: 56mm;
    width: fit-content;
    height: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;

    border-radius: 4px;

    display: flex;
    justify-content: center;

    object {
      width: 100%;
    }
  }

  div#left {
    grid-column: 1;
    grid-row: 1;
    justify-self: stretch;

    display: flex;
    justify-content: flex-end;
    column-gap: 16px;

    div.panel {
      background: $light-gray;  

      object {
        height: 138.5mm;    
      }
    }
  }

  div#right {
    grid-column: 2;
    grid-row: 1;
    justify-self: stretch;

    display: flex;
    justify-content: flex-start;
    column-gap: 16px;

    div.panel {
      background: $gray;  
      object {
        height: 138.5mm;    
      }
    }
  }

  div#info {
    height: 128px;
    width: fit-content;

    display: flex;
    flex-direction: column;
    row-gap: 4px;

    fieldset {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto;
      column-gap: 8px;
      row-gap: 2px;
      align-items: center;

      padding-top: 4px;
      padding-bottom: 4px;
      padding-left: 8px;
      padding-right: 8px;

      border: 1px solid lightblue;
      border-radius: 4px;

      font-family: sans-serif;
      font-size: 0.8em;

      legend {
        padding-left: 4px;
        padding-right: 4px;
        font-size: 0.75em;   
      }

      label {
        font-style: italic;
        font-size: 0.8em;      
      }

      p {
        font-style: normal;
        font-size: 0.9em;            
      }
    }
  }

  div#controls {
    display: flex;
    flex-direction: column;
    row-gap: 4px;

    button {
      width: 48px;    
      height: 48px;
      padding-top: 4px;
      padding-bottom: 4px;
      padding-left: 4px;
      padding-right: 4px;
      border: $button-border;
      border-radius: 4px;

      img {
        width: 40px;
      }
    }
  }

  div#drop {
    grid-column: 1 / 3;
    grid-row: 1;
    justify-self: center;

    width: 128mm;
  }
}

footer {
  grid-row: 3;
  grid-column: 1 / 4;

  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 4px;

  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;

  #command {
    background: white;

    width: 100%;
    max-width: 1250px;

    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 12px;
    padding-right: 12px;

    border: 1px solid $gray;
    border-radius: 4px;

    outline: none;
    resize: none;
  }

  vpd-help-text {
    background: white;
    width: 100%;
    height: 100%;
    max-width: 1250px;

    border: 1px solid $gray;
    border-radius: 4px;
  }
}